*.session
*.pyc
*.DS_Store
.env
/.vs/TelegramBot/FileContentIndex/2b7c9eb0-8f1e-4151-9282-d65342ffa327.vsidx
/.vs/TelegramBot/FileContentIndex/85ef7b53-9eeb-405d-8e6a-9784bc9ee75d.vsidx
/.vs/TelegramBot/FileContentIndex/084879ac-5885-4a0d-9c48-22383edfd449.vsidx
/.vs/TelegramBot/FileContentIndex/b7dee0e4-7d0b-44d1-ba2e-1e749997c114.vsidx
/.vs/TelegramBot/FileContentIndex/cc4a1123-578e-4396-b57e-bafa4cf76731.vsidx
